<ion-view view-title="Estabelecimentos">
    <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
    <ion-nav-buttons side="secondary" ng-show="!loading">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-content ng-show="!loading && estabelecimentos != null">
        <ion-list class="list">
            <ion-item class="item item-thumbnail-left" ng-repeat="estabelecimento in estabelecimentos" ng-cloak>
                <img ng-src="{{estabelecimento.imagem != undefined ? estabelecimento.imagem : './img/store-icon.png'}}">
                <h2>{{estabelecimento.nome}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-content ng-show="!loading && estabelecimentos == null">
        <ion-list class="list">
            <ion-item style="border: none; padding-top: 30%">
                <p class="text-center">Nenhum estabelecimento encontrado!</p>
                <button class="button button-block button-positive" ng-click="openModal()">
                    Adicionar Estabelecimento
                 </button>   
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>