<ion-view view-title="Listas">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-ios-plus-empty" ng-click="novaLista()"></button>
    </ion-nav-buttons>
    <ion-content ng-show="!loading">
        <ion-list class="list">
            <ion-item class="item item-thumbnail-left" ng-repeat="lista in listas" ng-click="editLista(lista)">
                <img ng-src="{{lista.estabelecimento.imagem}}">
                <h2>{{lista.estabelecimento.nome}}</h2>
                <p>{{convertToDate(lista.data) | date: medium}} - {{lista.total | currency}}</p>    
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
</ion-view>