<ion-view view-title="Nova Lista">
    <ion-nav-buttons side="primary">
        <span style="align-items: center;">{{item.total | currency}}</span>
    </ion-nav-buttons>
    <ion-content ng-show="!loading">
        <ion-list class="list">
            <ion-item class="item item-input item-select">
                <div class="input-label">
                    Estabelecimento
                </div>
                <select ng-options="estabelecimento as estabelecimento.nome for estabelecimento in estabelecimentos track by estabelecimento.nome" ng-model="item.estabelecimento"></select>
            </ion-item>
            <ion-item class="item" ng-repeat="produtoSelecionado in item.produtosSelecionados" style="padding-right: 0px">
                <h2 style="padding-bottom: 10px">
                    {{produtoSelecionado.descricao}} - {{produtoSelecionado.medida}} {{produtoSelecionado.unidadeMedida}}
                </h2>
                <p>Qtd: {{produtoSelecionado.quantidade}} | Preço: R${{produtoSelecionado.valor}} | Total: R${{produtoSelecionado.valor * produtoSelecionado.quantidade}}</p>
                <ion-option-button class="button-assertive icon ion-ios-minus-outline" ng-click="removeSelecionado(produtoSelecionado)"></ion-option-button>
                <ion-option-button class="button-positive icon ion-ios-compose-outline" ng-click="onEdit(produtoSelecionado)"></ion-option-button>
                <ion-option-button class="button-calm icon ion-ios-checkmark-outline" ></ion-option-button>
            </ion-item> 
        </ion-list>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="openModal()">
                Adicionar produtos
            </button>
            <button class="button button-block button-positive" ng-click="finalizar()">
                Finalizar lista
            </button>
        </div>
    </ion-content>
    <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
</ion-view>