<ion-view>
    <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
    <ion-content class="bg-login" ng-show="!loading">
        <div class="padding" style="padding-top: 70%;">
            <ion-list class="list list-inset">
                <ion-item class="item item-input-inset">
                    <i class="icon ion-ios-person placeholder-icon"></i>
                    <input type="text" placeholder="Login" ng-model="item.login" style="width:100%;">
                </ion-item>
                <ion-item class="item item-input-inset">
                    <i class="icon ion-ios-locked placeholder-icon"></i>
                    <input type="password" placeholder="Senha" ng-model="item.pw" style="width:100%;">
                </ion-item>
            </ion-list>
            <button class="button button-clear button-positive" style="width:100%; text-align:center;" ng-click="logar(item)"> Entrar </button>
            <div class="bar bar-footer" ng-show="!loading">
                <button class="button button-clear button-positive" ng-click="showCadastrar()">Não tem conta?</button>
                <button class="button button-clear button-positive" ng-click="showRecuperarSenha()">Perdeu a senha?</button>
            </div>
        </div>
    </ion-content>
</ion-view>