<ion-view view-title="Mais Opções">
    <ion-content>
        <ion-list class="list">
            <ion-item class="item item-divider">
                <i class="icon ion-ios-pricetags-outline"> Produtos</i>
            </ion-item>
            <ion-item class="item">
                <a class="button button-icon button-clear button-positive icon ion-ios-list-outline padding-left"
                    ui-sref="tab.produtos/categorias"> Categorias</a> 
            </ion-item>
            
            <ion-item class="item item-divider">
                <i class="icon ion-ios-cart-outline"> Estabelecimentos</i>
            </ion-item>
            <ion-item class="item">
                <a class="button button-icon button-clear button-positive icon ion-ios-list-outline padding-left"
                    ui-sref="tab.estabelecimentos/categorias"> Categorias</a>
            </ion-item>
        </ion-list>
    </ion-content>
    
</ion-view>