<ion-view view-title="Categorias">
    <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
    <ion-nav-buttons side="secondary" ng-show="!loading">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-content ng-show="!loading && categorias != null">
        <ion-list class="list">
            <ion-item ng-repeat="categoria in categorias">
                {{categoria.descricao}}
                <ion-option-button class="button-calm icon ion-ios-compose-outline" ng-click="modal.show()"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-ios-close-outline" ></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-content ng-show="!loading && categorias == null">
        <ion-list class="list">
            <ion-item style="border: none; padding-top: 30%">
                <p class="text-center">Nenhuma categoria encontrada!</p>
                <button class="button button-block button-positive" ng-click="openModal()">
                    Adicionar Categoria
                 </button>   
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>