<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Listas" icon-off="ion-ios-compose" icon-on="ion-ios-compose" href="#/tab/listas">
        <ion-nav-view name="tab-listas"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Produtos" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/produtos">
        <ion-nav-view name="tab-produtos"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Estabelecimentos" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/estabelecimentos">
        <ion-nav-view name="tab-estabelecimentos"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mais Opções" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/tab/mais-opcoes">
        <ion-nav-view name="tab-mais-opcoes"></ion-nav-view>
    </ion-tab>

</ion-tabs>