<ion-view view-title="Listas">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-ios-plus-empty" ng-click="teste()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list class="list">
            <ion-item class="item item-thumbnail-left">
                <img src="../img/extra1.jpg">
                <h2>Extra</h2>
                <p>14/09/2016 - R$481,00</p>    
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="../img/bretas.png">
                <h2>Bretas</h2>
                <p>20/07/2016 - R$165,00</p>   
            </ion-item>
            <ion-item class="item item-thumbnail-left">
                <img src="../img/martminas.jpg">
                <h2>Mart Minas</h2>
                <p>01/07/2016 - R$333,00</p>   
            </ion-item>
        </ion-list>
    </ion-content>
    
    
    <script id="templates/lista.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive ">
                <button class="button button-icon icon ion-ios-arrow-thin-left button-primary" ng-click="modal.hide()"></button>
                <h1 class="title">Nova Lista</h1>
            </ion-header-bar>
            <ion-content>
                <ion-list class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Categoria
                        </div>
                        <select>
                          <option>Hipermercado</option>
                          <option selected>Supermercado</option>
                          <option>Mercearia</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Nome">
                    </label>
                </ion-list>
                <div class="bar bar-footer bar-positive">
                    <button class="button button-clear" style="width:100%">
                        Salvar
                    </button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>