<ion-view view-title="Nova Lista">
    <ion-nav-buttons side="primary">
        <span style="align-items: center;">R$471,66</span>
    </ion-nav-buttons>
    <ion-content>
        <ion-list class="list">
            <ion-item class="item item-input item-select">
                <div class="input-label">
                    Supermercado
                </div>
                <select>
                    <option>Extra</option>
                    <option>Bretas</option>
                    <option>Mart Minas</option>
                    <option>Super Maxi</option>
                </select>
            </ion-item>
            <ion-item class="item" ng-repeat="x in [1,2,3,4,5,6,7]">
                <h2>{{produto.descricao}}</h2>
                <p>Preço unitário: {{produto.valor}} - Total: {{produto.valor * produto.quantidade}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>