<ion-view view-title="Supermercados">
    <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
    <ion-nav-buttons side="secondary" ng-show="!loading">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="modal.show()"></button>
    </ion-nav-buttons>
    <ion-content ng-show="!loading">
        <ion-list class="list">
            <ion-item class="item item-thumbnail-left" ng-repeat="supermercado in supermercados">
                <img src="{{supermercado.imagem}}">
                <h2>{{supermercado.nome}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>