<div class="button-bar">
  <button class="button button-calm" ng-click="decrement()" on-hold="decremenHold()" ng-disabled="popup.quantidade == 0">
      <i class="icon ion-ios-minus-empty"></i>
  </button>
  <button class="button button-stable">{{popup.quantidade}}</button>
  <button class="button button-calm" ng-click="increment()" on-hold="incrementHold()">
      <i class="icon ion-ios-plus-empty"></i>
  </button>
</div>
<div class="padding-top">
    <label class="item item-input">
        <input type="tel" placeholder="R$0,00" ng-model="popup.valor" ui-money-mask>
    </label>
</div>