<ion-modal-view>
    <ion-header-bar class="bar-positive ">
        <button class="button button-icon icon ion-ios-arrow-thin-left button-primary" ng-click="hideModal()"></button>
        <h1 class="title">Novo Estabelecimento</h1>
    </ion-header-bar>
    <ion-content ng-show="!loading">
        <ion-list class="list">
            <ion-item class="item item-input item-select">
                <div class="input-label">
                    Categoria
                </div>
                <select name="categoria" id="categoria" ng-model="item.categoria" ng-options="categoria.descricao for categoria in categorias track by categoria.descricao"></select>
            </ion-item>
            <ion-item class="item item-input">
                <input type="text" placeholder="Nome" ng-model="item.nome">
            </ion-item>
            <ion-item class="item item-thumbnail-right">
                <img src="./img/store-icon.png" id="previewImage" style="left:100px">
                <input type="file" class="upload" capture="camera" accept="image/*" id="file" name="file" 
                    runat="server" ng-show="false" onchange="fileChange(this);">
                <a class="button button-icon button-clear button-positive icon ion-ios-camera-outline" ng-click="openFileUpload()"></a>
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-positive button-block" ng-click="salvar(item)">
                Salvar
            </button>
        </div>
    </ion-content>
    <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
</ion-modal-view>