<ion-modal-view>
    <ion-header-bar class="bar-positive ">
        <button class="button button-icon icon ion-ios-arrow-thin-left button-primary" ng-click="hideModal()"></button>
        <h1 class="title">Adicionar produtos</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list class="list">
            <ion-checkbox ng-repeat="produto in produtos" ng-checked="produto.check" ng-model="produto.check"
                 ng-click="checkProduto(produto)" ng-hide="produto.hide">
                <h2 style="padding-bottom: 10px">
                    {{produto.descricao}} - {{produto.medida}} {{produto.unidadeMedida}}
                </h2>
                <p ng-show="produto.quantidade != undefined">Qtd: {{produto.quantidade}}</p>
            </ion-checkbox>    
        </ion-list>
        <div class="padding">
           <button class="button button-block button-positive" ng-click="concluir()">
                Concluir
            </button>
        </div>
    </ion-content>
</ion-modal-view>