<ion-modal-view>
    <ion-header-bar class="bar-positive ">
        <button class="button button-icon icon ion-ios-arrow-thin-left button-primary" ng-click="modal.hide()"></button>
        <h1 class="title">Nova Categoria</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list class="list">
            <label class="item item-input">
                <input type="text" placeholder="Descrição" ng-model="item.descricao">
            </label>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="salvar(item)">
                Salvar
            </button>
        </div>
    </ion-content>
</ion-modal-view>