<ion-modal-view>
    <ion-header-bar class="bar-positive ">
        <button class="button button-icon icon ion-ios-arrow-thin-left button-primary" ng-click="modal.hide()"></button>
        <h1 class="title">Novo Produto</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Categoria
                </div>
                <select ng-options="categoria.descricao as categoria.descricao for categoria in categorias track by categoria.descricao" ng-model="item.categoria"></select>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Nome / Descrição" ng-model="item.descricao">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Unidade de medida" ng-model="item.unidadeMedida">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Medida" ng-model="item.medida">
            </label>
        </ion-list>
        <div class="padding">
           <button class="button button-block button-positive" ng-click="salvar(item)">
                Salvar
            </button>
        </div>
    </ion-content>
</ion-modal-view>