<ion-modal-view>
    <ion-header-bar class="bar-positive ">
        <h1 class="title">Recuperar senha</h1>
        <button class="button button-icon icon ion-ios-close-empty button-secondary" ng-click="hideRecuperarSenha()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                Informe seu email e enviaremos a sua senha
            </div>
        </div>
        <ion-list class="list">
            <ion-item class="item item-input">
                <input type="text" placeholder="Email" ng-model="item.login">
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-positive button-block" ng-click="recuperarSenha(item)">
                Enviar
            </button>
        </div>
    </ion-content>
</ion-modal-view>