/* Empty. Add your own CSS if you like */
.bg-login {
    background-image: url(../img/app.png);
    background-repeat: no-repeat;
}

.bar.bar-teal {
    border-color: #1a237e;
    background-color: #3f51b5;
    background-image: linear-gradient(0deg, #3f51b5, #3f51b5 50%, transparent 50%);
    color: #fff !important; 
}

.bar.bar-teal.bar-footer {
      background-image: linear-gradient(180deg, #0c60ee, #0c60ee 50%, transparent 50%); 
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
  
}

svg{
    position: absolute;
    top: 40%;
    left: 40%;
}
